body {
	margin: 0;
	text-align: center;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #6943ff;
}

h1 {
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 800;
	font-size: 28px;
	line-height: 38px;
	text-align: center;
}

#input {
	box-sizing: border-box;
	width: 100px;
	height: 50px;
	left: 217px;
	top: 101px;
	margin-bottom: 10px;
	border: 2px solid #b295ff;
	border-radius: 5px;
	text-align: center;
}

#convert-btn {
	border: none;
	border-radius: 6px;
	height: 30px;
	width: 400;
	margin-bottom: 10px;
}

.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f4f4;
}

p {
	color: black;
}
